<%= render partial: "shared/navbar", locals: { title: "TRANSACTIONS" } %>
  <br/>
  <br/>
  <% if @spending.errors.any? %>
<p style="color: green"><%= notice %></p>
<%end%>
<div class="my-3">
<%= render @spending %>
</div>

<div class= "d-flex flex-column justify-content-center align-items-center my-5">
  <%= link_to "Back", spendings_path , class: "btn" %>

  <%= button_to "Delete this transaction", @spending, method: :delete  , class: "btn btn-danger" %>
</div>
