


<%if user_signed_in?%>
<%= link_to "New group", new_group_path %>
Hello, <%=current_user.name%>
<%= @total_spending%>
  <%
=begin%>
 <%@groups.each do |group|%> 
    <%group.spendings.each do |spending|%>
      <%=spending%>
      <%end%>
    <%end%> 
<%
=end%>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
    <p>
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>

 <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger ms-1" %>
<%else%>
<div class="d-flex flex-column justify-content-end align-items-center log-in-container">
<div class="wrapper">
<h2 class="smart">Smart Budgets</h2>

</div>
<div class="d-flex flex-column mb-1 align-items-center">
 <%= button_to "SIGN IN", new_user_session_path, method: :get, class: "btn btn-primary" %>
 <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: "btn " %>
</div>
</div>

<%end%>
