


<%if user_signed_in?%>

  <% if @groups.blank?%>
    <p>You don't have any category yet! Click below to add one.</p>
  <% else %>
<div id="groups">
  <% @groups.each do |group| %>
    <%= render group %>
  <% end %>
</div>

<%end%>
<%= link_to "New group", new_group_path %>
 <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-danger ms-1" %>
<%else%>
<div class="d-flex flex-column justify-content-end align-items-center log-in-container">
<div class="wrapper">
<h2 class="smart">Smart Budgets</h2>

</div>
<div class="d-flex flex-column mb-1 align-items-center">
 <%= button_to "SIGN IN", new_user_session_path, method: :get, class: "btn btn-primary" %>
 <%= button_to "SIGN UP", new_user_registration_path, method: :get, class: "btn " %>
</div>
</div>

<%end%>
